/* embedreport.css */
.hit-table {
  border-collapse: collapse;
}

.hit-table thead {
    border-bottom: 3px solid black;
}

.hit-table tr {
    border-bottom: 1px solid black;
}
/*
    Bootstrap classes:

        table-responsive
        table 
        table-sm

    Not needed when the report is embedded.
*/