/* mdhcreport.css */
div.table-container {
    max-width:30%;
    margin:auto;
}

.hit-table {
    table-layout:fixed;
    font-size: 1.0rem;
    margin: auto;
}

@media screen and (max-width: 2400px){
    div.table-container {
        max-width:40%;
    }
    .hit-table {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 1800px){
    div.table-container {
        max-width:60%;
    }
    .hit-table {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 1400px){
    div.table-container {
        max-width:60%;
    }
    .hit-table {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 1200px){
    div.table-container {
        max-width:80%;
    }
    .hit-table {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 1000px){
    div.table-container {
        max-width:80%;
    }
    .hit-table {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 768px){
    div.table-container {
        max-width:90%;
    }
    .hit-table {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px){
    div.table-container {
        max-width:100%;
    }
    .hit-table {
        font-size: 0.8rem;
        width: auto!important;
    }
}

@media screen and (max-width: 100px){
    div.table-container {
        max-width:100%;
    }
    .hit-table {
        font-size: 0.7rem;
        width: auto!important;
    }
}

.table-cell-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.hit-table tr th {
    text-align:center;
}

.hit-table tr td {
    text-align:center;
}

table.hit-table caption {
    caption-side:top;
    text-align:center;
    color:black;
    font-weight:bold;
}

.sort-arrow-up:after {
    font-weight:bold;
    content: "\25B2"!important;
}

.sort-arrow-dn:after {
    font-weight:bold;
    content: "\25BC"!important;
}

.orderhover:hover {
    cursor:pointer!important;
    background-color: rgba(189, 183, 137, 1);
    border-radius: 15px 50px;
}

.stats-cell {
    background-color: lightgrey;
}

.stats-cell-stars {
    margin: 0 0.15rem 0.15rem 0.15rem;
}

.stats-cell-forks {
    margin: 0 0.15rem 0.15rem 0.15rem;
}

.stats-cell-watchers {
    margin: 0 0.15rem 0.15rem 0.15rem;
}

.stats-cell-issues {
    margin: 0 0.15rem 0.15rem 0.15rem;
}

.stats-cell-first {
    margin-top: 0.25rem!important;
}

.stats-cell-last {
    margin-bottom: 0.25rem!important;
}

